<form method="post" action="{{ action }}">
    <div class="columns">
        {% if shwAction == 'show' %}
        <div class="column is-1">
            <div class="field">
                <label class="label is-small"> # </label>
                <span class="control has-icons-left">
                      <input class="input is-small"
                             type="text"
                             id="idBillReceive"
                             placeholder="Nome da categoria de custo"
                             name="id"
                             value="{{ bill.id }}" disabled>
                      <span class="icon is-small is-left">
                            <i class="fa fa-hashtag fa-fw"></i>
                      </span>
                </span>
            </div>
        </div>
        {% endif %}
        <div class="column is-2">
            <div class="field">
                <label class="label is-small">Data Lancto</label>
                <span class="control has-icons-left">
                      <input class="input is-small has-text-right"
                             type="text"
                             id="dateBillReceive"
                             placeholder="Data Lancamento"
                             name="date_launch"
                             {%  if shwAction != 'new' %}
                             value="{{ bill.date_launch | date('d/m/Y') }}"
                             {% endif %}
                             {% if shwAction == 'show' %} disabled {% endif %}>
                      <span class="icon is-small is-left">
                            <i class="fa fa-calendar fa-fw"></i>
                      </span>
                </span>
            </div>
        </div>
        <div class="column is-2">
            <div class="field">
                <label class="label is-small">Categoria</label>
                {% if shwAction == 'show' %}
                <span class="control has-icons-left">
                      <input class="input is-small"
                             type="text"
                             id="nameBillReceive"
                             placeholder="Nome da Receita"
                             name="name"
                             value="{{ bill.categoryCost.name }}"
                              {% if shwAction == 'show' %} disabled {% endif %}>
                      <span class="icon is-small is-left">
                            <i class="fa fa-tags fa-fw"></i>
                      </span>
                </span>
                {% else %}
                <div class="control has-icons-left">
                    <div class="select is-small">
                        <select value="{{ bill.category_cost_id }}"
                                name="category_cost_id">
                            {% for category in categories %}
                            <option value="{{ category.id }}"
                            {{ bill.category_cost_id is not null and bill.category_cost_id == category.id ? 'selected' : ''  }}>{{category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="icon is-small is-left">
                        <i class="fa fa-tags fa-fw"></i>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="column {% if shwAction == 'show' %} is-5 {% else %} is-6 {% endif %}">
            <div class="field">
                <label class="label is-small">Nome</label>
                <span class="control has-icons-left">
                      <input class="input is-small"
                             type="text"
                             id="nameBillReceive"
                             placeholder="Nome da Receita"
                             name="name"
                             value="{{ bill.name }}"
                             {% if shwAction == 'show' %} disabled {% endif %}>
                      <span class="icon is-small is-left">
                            <i class="fa fa-sign-in fa-fw"></i>
                      </span>
                </span>
            </div>
         </div>
        <div class="column is-2">
            <div class="field">
                <label class="label is-small">Valor</label>
                <span class="control has-icons-left">
                          <input class="input is-small has-text-right"
                                 type="text"
                                 id="valueBillReceive"
                                 placeholder="Valor Lancamento"
                                 name="value"
                                 value="{{ bill.value | number_format(2,',','.') }}"
                                  {% if shwAction == 'show' %} disabled {% endif %}>
                          <span class="icon is-small is-left">
                                <i class="fa fa-money fa-fw"></i>
                          </span>
                    </span>
            </div>
        </div>
    </div>
    <div class="columns">
         <div class="column">
             <div class="level-right bd-structure-item" title="level-right">
                {% if shwAction == 'show' %}
                    <a href="{{ route('bill-pays.delete', {'id':bill.id}) }}"
                       class="button is-outlined is-small">
                        Excluir <i class="fa fa-fw fa-trash-o"></i>
                    </a>&nbsp;&nbsp;
                    <a href="{{ route('bill-pays.edit', {'id':bill.id}) }}"
                       class="button is-outlined is-small">
                        Editar <i class="fa fa-fw fa-pencil"></i>
                    </a>&nbsp;&nbsp;
                {% else %}
                    <button class="button is-outlined is-small controll">
                        Gravar&nbsp;&nbsp;<i class="icon is-small fa fa-{{ submitIcon }} fa-fw"></i>
                    </button>&nbsp;&nbsp;
                {% endif %}
                    <a href="{{ route('bill-pays.list') }}"
                       class="button is-outlined is-small">
                        Cancelar <i class="fa fa-fw fa-table"></i>
                    </a>&nbsp;&nbsp;
             </div>
         </div>
     </div>
</form>