{% extends'layout.html.twig' %}

{% block content %}

    <br />
    <div class="container is-fluid">
        <div class="card">
            <header class="card-header" style="background-color: #A4A4A4">
                <p class="card-header-title is-size-7">
                   <i class="icon fa fa-sign-out fa-fw"></i> Contas a Pagar
                </p>
            </header>
            <div class="card-content">
                <div class="content">
                    <h4>Gráfico de Gastos</h4> <small>( Periodo {{ datStart | date('d/m/Y') }} - {{ datEnd | date('d/m/Y') }} )</small>
                    <form method="get" action="{{ route('charts.list') }}">
                        <div class="columns">
                            <div class="column is-9"></div>
                            <div class="column is-1">
                                <div class="field">
                                    <span class="control has-icons-left">
                                          <input class="input is-small"
                                                 type="text"
                                                 placeholder="DD/MM/YYYY"
                                                 name="date_start"
                                                 value="{{ 'now'|date_modify('-1 month')|date('d/m/Y') }}">
                                          <span class="icon is-small is-left">
                                                <i class="fa fa-calendar fa-fw"></i>
                                          </span>
                                    </span>
                                    <span class="help"><strong>Data Inicial</strong></span>
                                </div>
                            </div>
                            <div class="column is-1">
                                <div class="field">
                                    <span class="control has-icons-left">
                                          <input class="input is-small"
                                                 type="text"
                                                 placeholder="DD/MM/YYYY"
                                                 name="date_end"
                                                 value="{{ 'now'|date('d/m/Y') }}">
                                          <span class="icon is-small is-left">
                                                <i class="fa fa-calendar fa-fw"></i>
                                          </span>
                                    </span>
                                    <span class="help"><strong>Data Final</strong></span>
                                </div>
                            </div>
                            <div class="column is-1 is-centered has-text-centered">
                                <button class="button is-outlined is-small">
                                    Buscar &nbsp;&nbsp;<i class="icon fa fa-calendar-check-o fa-fw"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <div id="chart-div" style="width: 900px; height: 500px;"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart']})
        //Google Visualization API
        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Categoria');
            data.addColumn('number', 'Valor Gasto');
            data.addRows([
                {% for category in categories %}
                ['{{ category.name }}',{{ category.value|number_format(2,'.','') }}],
                {% endfor %}
            ]);

            var options ={
              // title: 'Gastos por Categoria',
              // is3D: true,
              pieHole: 0.5
            };

            var chart = new google.visualization.PieChart(document.getElementById('chart-div'));
            chart.draw(data, options, {
                width: '100%',
                height: 500
            });
        }
    </script>
{% endblock %}